/* navs related css */
body{
    font-family: 'Open Sans', sans-serif;
}
span{
    color: #FD6E0A;
}
.header{
    background: #FFF8F3;
    
}
.title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;


}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav > ul{
    display: flex;
    align-items: center;
}
ul li{
    list-style: none;
    margin-right: 50px;
    
}
ul li a{
    font-size: 20px;
    text-decoration: none;

}
.btn-primary{
    border-radius: 5px;
    background: #FD6E0A;
    color: #FFF;
    text-align: center;
    padding: 13px 30px;
    font-size: 20px;
    border: none;
    font-weight: 700;
    
}
/* banner-section */
.banner-section{
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
    background-image: url("./img/header_bg.png");
    background-position: bottom right;
    background-repeat: no-repeat;
    padding: 30px 30px 0px 150px;

}
.text-section{
    width: 50%;
}
.text-section h3{
    color: #474747;
    
    font-size: 45px;
    
    font-weight: 600;

}
.text-section h2{
    color: #181818;
    margin-top: -40px;

    font-size: 85px;

    font-weight: 700;

}
.text-section p{
    margin-top: -60px;
}
.image-section{
    margin-bottom: -5px;

}
.photo{
    width: 500px;
    border-radius: 130px 20px 0 0;
   
}
/* about-section */
main{
    max-width: 1140px;
    margin: 0 auto;
}
.about-section{
    margin-top: 130px;
    
   padding: 20px 130px;
   border-radius: 10px;
   background: #FFF8F3;
}
.about-section h2{
    color: #181818;
text-align: center;

font-size: 35px;

font-weight: 700;

}
.about-section p{
    color: #757575;
text-align: center;

font-size: 18px;

font-weight: 400;

}
.about-info-container{
    display: flex;
    gap: 50px;
    justify-content: center;
}
.about-info{

}
.about-info p{
    color: #757575;
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: -10px;

}
.about-info h2{
    color: #161414;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    
}
/* blogs-section */
.blogs-section{
    display: flex;
    margin-top: 40px;
}
.blog-item{
    padding: 30px;
}
.blog-item h2{
    color: #181818;


font-size: 20px;

font-weight: 700;

}
.blog-item p{
    color: #757575;

font-size: 16px;

font-weight: 400;

}
/* summary-section */
.summary{
    text-align: center;
    color: #181818;
    padding: 10px 0;


font-size: 35px;

font-weight: 700;


}
.summary-section{
    padding: 20px 0;
}
.summary-blogs-contain{
    display: flex;
}
.summary-blog{
    padding: 30px;
    border-bottom: 1px solid #757575;
}
.ex{
    border-bottom: none !important;
}
.summary-blog h2{
   
    color: #474747;

font-size: 30px;

font-weight: 700;

}
.summary-blog h3{
    margin-bottom: -15px;
    color: #474747;

font-size: 25px;

font-weight: 700;

}
.summary-blog h4{
    color: #757575;

font-size: 20px;

font-weight: 600;

}
.summary-blog p{
    color: #757575;

font-size: 16px;

font-weight: 400;

}
.download-cv{
    text-align: center;
    margin-bottom: 30px;
}

/* footer-section */
.footer-section{
    display: flex;
    gap: 50px;
    
}

.texts-section{
   width: 50%;
   padding: 0 20px;
}
.texts-section h2{
    color: #181818;
    
    font-size: 35px;
    font-weight: 700;
}
.texts-section p{
    color: #474747;

font-size: 16px;

font-weight: 400;

}
.social-link a{
    margin-left: 20px;
}
.form-section h2{
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;

}

.contact input[type="text"],.contact input[type="email"], textarea{
    display: block;
    margin-bottom: 25px;
    padding: 18px 30px;
    border-radius: 5px;
    border: none;
    width: 100%;
    

}

